
.content {
  box-sizing: border-box;
  margin: auto;
  height: auto;
  max-width: 2040px;
  background: #E5E5E5;
  
}
.range {
  margin-left: -27px;
}

/* nav */
.nava__li {
  padding-right: 2.3rem;

}
.nava__li li  {
  padding-left: 15.5px;
  padding-right: 15.5px;
}

/* logo nav */
.img_nav {
  padding-left:5rem;
}
.hr__1 {
  margin-left: 110px;
 
}

.shop__online {
  white-space: nowrap; 
}


/* div__1 */
#perfumes__img a img {
  width: 770px;
  height: 440px;
}
#perfumes h1 {
  font-size: 50px;
}
.show__mobi {
  display: none;
}
#perfumes {
  padding-top: 45px; 
}
#perfumes a {
  color: red;
}
#perfumes p {
  font-size: 16px;
  margin-top: 20px;
}

/* div__2 */
#resala p  {
  position: absolute;  
  top: 140px;
  left: 380px;     
  text-align: justify;
  width: 330px;
  font-size: 16px;
}
#resala h2  {
  position: absolute;  
  top: 70px;
  left: 380px;    
  font-size: 45px;
}
#resala img {
  width: 440px;
  height: 550px;
}
#resala .resala__a {
  color: red;
  position: absolute;
  width: 300px;
  top: 13.7rem;
  padding-left: 9.5rem;
}
#only_white img {
  width: 370px;
  height: 500px;
  margin-left: 210px;
  margin-top: 110px;
}
#only_white h2 {
  position: absolute;  
  top: 475px;
  left: 107px; 
  font-size: 45px;
}
#only_white p  {
  position: absolute;  
  top: 546px;
  left: 107px;  
  text-align: justify;
  width: 340px;
}
#only_white .only_white__a {
  position: absolute;  
  
  margin-top: -2.5rem;
  left: 99px;  
  text-align: justify;
  width: 340px; 
}

/* div__3 */
#elegant__img a img {
  width: 370px;
  height: 500px;
}
#elegant img {
  width: 670px;
  height: 470px;
  margin-top: 75px;
}
#elegant h2 {
  font-size: 45px;
  margin-left: 365px;
}
#elegant p {
  text-align: justify;
  width: 397px;
  margin-left: 290px;
  font-size: 16px;
}
#elegant a {
  color: red;
}

/* div__4 */
#lorem a img {  
  width: 1270px;
  height: 486px;  
} 
#lorem h2 {
  position: absolute;
  top: 90px;
  left: 140px;
}
#lorem h6 {
  position: absolute;
  top: 110px;
  left: 140px;
  width: 350px;
  font-size: 22px
}
#lorem .lorem__a {
  position: absolute;
  top: 240px;
  left: 290px;
  color: red;
}

/* div__5 */
#gallery h2 {
  font-size: 45px;
}
#gallery p {
  text-align: center;
  width: 400px;
  margin-left: 360px;
  font-size: 16px;
}

/* div__6 */
#image__waper div a img {
  width: 370px;
  height: 400px;
}

/* icon div__6 */
#arrow {
  position: absolute;
  padding-left: 69rem;
 
}

/* div__7 */
#contact {
   top: 67px;
   padding-left: 90px;
}
#contact p {
  text-align: justify;
  width: 400px;
  font-size: 16px;
}
#contact h2 {
  padding-left: 5rem;
  font-size: 45px;
}


#contact a {
  padding-left: 13rem;
  
  color: red;
}

/* input */
#input_center a {
   
    width: 130px;
    
}
#input_center input {
    width: 280px;
}



#specials h2{
  font-size: 50px;
  width: 900px;
}
#specials p {
  font-size: 16px;
}

.specials__pd {
  padding-left: 90px;
}
.input__pd {
  padding-left: 90px;
}


/* contact_us */


/* mobi */
@media screen and (max-width: 768px) {
  .content {
    width: 520px;
    margin: auto;
    width: auto;
    box-sizing: border-box;
  }

  /* logo nav */
  .img_nav {
    padding-left: 0;
  }

  /* mobi_div__1 */
  #perfumes__serve {
    display: flex;
    flex-direction: column-reverse;
  }
  #perfumes {
    margin-bottom: 1.4rem;
    text-align: center;
  }
  .show__destop  {
    display: none;
  }
  .show__mobi   {  
    width: 320px;
    height: auto; 
    display: block;
  } 

  /* mobi_div__2 */
  #resala img {
    width: 320px;
    height: auto;
  }
  #resala p  {
    position: absolute;  
    top: 480px;
    left: 10px; 
    text-align: justify;
    width: 308px;
    padding-top: 1.2rem;
  }
  #resala>h2  {
    padding-top: 2rem;
    text-align: justify;
    position: absolute;  
    top: 420px;
    left: 10px;   
  }
  #resala .resala__a {
    position: absolute;  
    top: 570px;
    left: 68px; 
    text-align: justify;
    width: 308px;
  }
  #only_white a img {
    width: 320px;
    height: auto;
    margin-left: 0px;
    margin-top: 200px;
    padding:2px;
  } 
  #only_white a img {
    width: 320px;
    height: auto;
    padding:2px;
    }
    #only_white>h2  {
    padding-top: 1.5rem;
    text-align: justify;
    position: absolute;  
    top: 690px;
    left: 10px;   
    }
    #only_white p  {
    position: absolute;  
    top: 740px;
    left: 10px; 
    text-align: justify;
    width: 308px;
    padding-top: 1.2rem;
    } 
  #only_white .only_white__a {
    position: absolute;  
    bottom: -11rem;
    left: 13.5rem;   
  }

  /* mobi_div__3 */
  #elegant__img a img {
    width: 320px;
    height: auto;
    padding-top: 8.5rem;
  }
  #elegant {
    width: 320px;
    height: auto;
    
  }
  #elegant h2 {
    text-align: justify;
    width: 330px;
    margin-left: 0rem;
  }
  #elegant p {
    margin-left: 0rem;
    text-align: justify;
    width: 300px;
  }
  #elegant a img {
    width: 320px;
    height: auto;
  }
  #elegant .elegant__a {
    position: absolute;
    padding-left: 153px;
    margin-top: 2rem;
  }

  /* mobi_div__4 */
  #lorem a img{
    width: 320px;
    height: 350px;
    margin-top: 0.6em;
    }
  #lorem h2 {
    position: absolute;
    top: 28px;
    left: 160px;
  }
  #lorem h6 {
    position: absolute;
    left: 60px;
    top: 4rem;
    text-align: justify;
    width: 210px;
  }
  #lorem .lorem__a {
    position: absolute;
    text-align: justify;
    width: 200px;
    left: 132px;
  }

  /* mobi_div__5 */

  .specials__pd {
    width: 320px;
    height: auto;
    margin-left: 0rem;
    padding:2px;
  } 
  #specials h2 {
    font-size: 41px;
    text-align: center;
  }
  #specials p {
    text-align: center;
  }
  .input__pd {
    margin-left: 0rem;
    width: 320px;
    height: auto;
    padding: 0px;
  }

  #input_center {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #input_center a {
    margin-top: 2rem;
    width: 130px;
    margin-left: 7rem;
  }
  #input_center input {
    width: 280px;
    margin-top: 0.5rem;
    margin-left: 1.66rem;
  }

  /* mobi_div__6 */

  #gallery {
   width: 320px;
  }
  #gallery h2 {
    padding-left: 0rem;
  }
  #gallery p {
    text-align: center;
    width: 320px;
    height: auto;
    margin-left: 0px;
    padding:2px;
  }

  .sline__1 {
    display: none;
  }
  .sline__2 {
    width: 320px;
    height: auto;
    display: block;
  }
  .sline__3 {
   display: none;
  }

  /* icon */
  #arrow {
    text-align: center;
   padding-left: 15px;
   }

  /* server_div__7 */
  #contact__serve {
     display: flex; 
     flex-direction: column-reverse;
  }

  /* mobi_div__7 */
  #contact {
    width: 320px;
    height: auto;
    margin-left: 0px;
    margin-top: 10px;
    padding:2px;
  }
  #contact__img a img {
    width: 320px;
    height: auto;
    margin-bottom: -4rem;
  }
  #contact {
    padding-bottom: 7rem;
  }
  #contact h2 {
    margin-top: 2rem;
    font-size: 2rem;
    padding-left: 0rem;
    text-align: justify;
    width: 400px;
  }
  #contact p {
    width: 320px;
    margin-right: 30rem;
    text-align: justify;
    width: 300px;
  }
  #contact a {
    margin-left: -2.9rem;
  }

/* footer */
  .footer {
  display: flex;
  flex-direction: column;
  }
  .footer li {
    margin-top: 0.5rem;
  }
  .follow {
    padding-top: 10px;
  }
  .facebook {
    padding: 1rem;
  }
  .youtube {
    padding: 1rem;
  }
  .instagram {
    padding: 1rem;
  }
  .twitter {
    padding: 1rem;
  }

  .hr__1 {
    display: none;
  }
}





